<html>
<head>
    <link rel="stylesheet" href="public/css/style.css">
    <style>h4 {color:blue;}</style>
    <style>h2 {color:tomato;}</style>
</head>
<body>
 
    <h4 style="color: lime; font-size: xx-large;">Auckland</h4>
    <p>Welcome to Auckland, the largest city in New Zealand, known for its stunning harbors and vibrant culture.</p>
    
    <h4>Wellington</h4>
</body>