<html>
<head>
    <link rel="stylesheet" href="public/css/styles.css">
</head>
<body>
    <nav>
        
        <a href="/">Home</a>
        <a href="/Auckland">Auckland</a>
        <a href="/beaches">Beaches</a>
        <a aria-disabled="true"</a>
      
    </nav>
    <h4 class="highlighted">Auckland</h4>
    <p>Welcome to Auckland, the largest city in New Zealand, known for its stunning harbors and vibrant culture.</p>
    <p>Thousends of students have graduated from:
    <a href="http://futureskills.co.nz" >Future Skills Academy</a>
    which have campuses in Auckland CBD, Royal Oak and Takapuna .</p>
    <h4>Wellington</h4>
</body>