<html>
    <head>
        <%- include('./partials/header1.ejs') %>
    </head> 
    <body>
        <%- include('./partials/navbar1.ejs') %>
    
        <h4 class="highlighted">Auckland</h4>
        <p>Welcome to Auckland, the largest city in New Zealand, known for its stunning harbors and vibrant culture.</p>
        <p>Thousends of students have graduated from:
        <a href="http://futureskills.co.nz" >Future Skills Academy</a>
        which have campuses in Auckland CBD, Royal Oak and Takapuna .</p>
        <h4>Wellington</h4>
    </body>
</html>