<html>
    <head>
        <%- include('./partials/header1.ejs') %>
    </head> 
    <body>
        <%- include('./partials/navbar2.ejs') %>
        
        <div class="container">
            <h2>Auckland</h2>

            <img id="aklImage" class="img-right" src="/images/aukland.avif" alt="Auckland">
       
            <p>Auckland is......</p>
            <p style="color:#23086f">
                Auckland – The Big Little City

                Auckland, known as Tāmaki Makaurau in Māori, is New Zealand’s largest city and a vibrant blend of urban energy and natural beauty. Nestled between two harbours and dotted with volcanic cones, it offers stunning views, beautiful beaches, and lush parks. Often called the "Big Little City," Auckland has the buzz of a big metropolis but with a laid-back, friendly vibe. From world-class dining and shopping to sailing adventures and cultural experiences, Auckland truly offers the best of both worlds.</p>
        </div>
    </body >
    </html>