<html>
    <head>
        <%- include('./partials/header1.ejs') %>
    </head> 
    <body>
        <%- include('./partials/navbar1.ejs') %>
    
        <h4 class="highlighted">NZ Beaches</h4>
        <ul>
            <li>Phia</li>
            <li>Mission Bay</li>
            <li>Long Bay</li>
        </ul>
        

    </body>
</html>