<html>
<head>
    <link rel="stylesheet" href="public/css/styles.css">
</head>
<body>
    <h1>New Zealand</h1>
    <p> New Zealand is a country in the southwestern Pacific Ocean, consisting of two main landmasses, 
        the North Island and the South Island, and over 700 smaller islands.</p>
    <p> It is known for its stunning landscapes, diverse ecosystems, and vibrant culture.</p>
    <p> New Zealand is a popular destination for outdoor activities such as hiking, skiing, and water sports.</p>
    <p> New Zealand is famous for its breathtaking natural beauty, including mountains, beaches, and forests.</p>
    <h2>South Island</h2>
    <h4>Christchurch</h4>
    <h4>Dunedin</h4>
    <h2>North Island</h2> 
    <a href="Auckland">Auckland City</a>
    <h4>Wellington</h4>
</body>