<html>
<head>
    <link rel="stylesheet" href="public/css/styles.css">
</head>

<body>
    <nav>
        
        <a href="/">Home</a>
        <a href="/Auckland">Auckland</a>
        <a href="/beaches">Beaches</a>
        <a aria-disabled="true"</a>
      
    </nav>

    <h4>This is the Home Page</h4>

</body>