<html>
<head>
  <%- include('partials/header1.ejs') %>
</head>
<body>
  <h2 style="color: red;">Members only page.</h2>

  <%- include('partials/navbar2.ejs') %>

  <p style="color: #00f;">
    Welcome to a Members only page. You are now logged in.
  </p>

  <p style="color: #7fae5d;">
    This is our Member section. You have exclusive access to special content, tools, and features reserved only for our registered users.
    Enjoy the benefits of being part of our community! 
    We're constantly adding new resources to support your journey and enhance your experience.
    If you ever need assistance, our support team is just a click away.
  </p>
</body>
</html>
