h4 {
    color: purple;
}

h2 {
    color: green;
}

h1 {
    color: red;
}

p {
    color: r#000000;
}

.highlighted {
    color: lime;
    font-size: xx-large;
}



.img2 {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    float: right;
    margin-left: 15px;
}
 